jupyterlab
pyarrow
numpy

imblearn
xgboost
catboost
ngboost
lightgbm 
yellowbrick

matplotlib
seaborn
scipy
scikit-learn
wget
konlpy
pymongo
python-mecab-ko
pyLDAvis


requests
beautifulsoup4
lxml
pandas
selenium
urllib3
scrapy
webdriver_manager
